/* Set font of website */
body {
    font-family: Arial;
}

/* Set headers such that they are centered */
h1, h2, h3 {
    text-align: center;
}


.flex-container {
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.row {
    display: flex;
}

#font-button {
    margin-top: 25px;
    text-align: center;
}