/* Set font of website */
body {
    font-family: Arial;
}

/* Set headers such that they are centered */
h1, h2 {
    text-align: center;
}


.flex-container {
    display: flex;
    justify-content: left;
}

.vis {
    display: block;
}

.p1 {
    margin-bottom: 120px;
}